<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="Unity.Abstractions" version="4.1.0" targetFramework="net472" />
  <package id="Unity.Container" version="5.9.7" targetFramework="net472" />
</packages>